@using MvcCrudProje.Data.Entities
@model List<Calisan>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Çalışanlar Listesi</h2>

<a class="btn btn-primary" href="/Calisan/Ekle">Çalışan Ekle</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Maas</th>
            <th>DepartmanID</th>
            <th>Guncelle</th>
            <th>Sil</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var calisan in Model)
        {
            <tr>
                <td>@calisan.ID</td>
                <td>@calisan.Ad</td>
                <td>@calisan.Soyad</td>
                <td>@calisan.Maas</td>
                <td>@calisan.departmanId</td>

                <td><a class="btn btn-primary" href="/Calisan/Guncelle/@calisan.ID">Güncelle</a></td>
                <td><a class="btn btn-primary" href="/Calisan/Sil/@calisan.ID">Sil</a></td>

            </tr>
        }
    </tbody>


</table>


